extends layout

block content
    h1= title
    p Welcome #{person.Id}
    p Welcome #{person.Firstname}
    p Welcome #{person.Lastname}
    p Welcome #{person.Profession}
    p Welcome #{person.age}